article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;padding:0;font-size:10px;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{display:block;height:1px;clear:both;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
ins{background:#ff9;color:#000;text-decoration:none;}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:"";content:none;}
small{font-size:85%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{margin:1em 0;padding:0 0 0 3em;}
dd{margin:0 0 0 3em;}
nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:0;margin:0;padding:0;}
label{cursor:pointer;}
legend{border:0;*margin-left:-7px;padding:0;white-space:normal;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*width:13px;*height:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
input:invalid,textarea:invalid{background-color:#f0dddd;}
table{border-collapse:collapse;border-spacing:0;}
td{vertical-align:top;}
.column_wrapper{width:100%;}
.column_wrapper,.half_column,.thirds_column,.fourths_column,.fifths_column,.sixths_column{float:left;}
.half_column{width:49.99%;}
.thirds_column{width:33.33%;}
.fourths_column{width:24.99%;}
.fifths_column{width:19.99%;}
.sixths_column{width:16.66%;}
.pad_three{width:46.99%;padding-right:3%;}
.pad_five{width:44.99%;padding-right:5%;}
.pad_left{padding-left:10%;}
.left,.alignleft{float:left;}
.right,.alignright{float:right;}
.clearfix{clear:both;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
img.alignleft{margin:0 2em 2em 0;}
img.alignright{margin:0 0 2em 2em;}
.align_left{text-align:left !important;}
.align_right{text-align:right;}
.align_center{text-align:center;}
.no_border{border:none !important;}
.no_padding{padding:0 !important;}
.no_margin{margin:0 !important;}
.margin_top{margin-top:2em;}
.margin_bottom{margin-bottom:2em;}
.border_bottom{border-bottom:1px solid #cccccc;}
html,button,input,select,textarea,blockquote,q{color:#575757;font-family:"Lucida Grande","Lucida Sans","Lucida Sans Unicode",Helvetica,Arial,sans-serif;}
a{color:#c44032;text-decoration:underline;}a:hover{text-decoration:none;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
h1,h2,h3,h4,h5,h6{font-weight:bold;text-rendering:optimizeLegibility;}
h1{font-size:2.142857142857143em;font-family:"Lucida Grande","Lucida Sans","Lucida Sans Unicode",Helvetica,Arial,sans-serif;color:#c44032;}
h2{font-size:1.4285714285714286em;color:#c44032;}
h3{font-size:1.1em;}
h4{font-size:1.1em;}
h5{font-size:1em;}
#nav{width:100%;height:59px;position:absolute;left:0;bottom:0;}#nav ul{height:100%;margin:0;padding:0;}
#nav li{min-width:10px;height:100%;padding:0;float:left;list-style-type:none;position:relative;background:none;}#nav li:hover ul{display:block;}
#nav li:hover,#nav li.active{}#nav li:hover a,#nav li.active a{color:#fff;background:#1f497d;}
#nav li:hover li a,#nav li.active li a{color:#fff;background:none;}#nav li:hover li a:hover,#nav li.active li a:hover{background:#4a6897;}
#nav li ul{width:250px;height:auto;margin:0;padding:0;position:absolute;top:59px;left:0;display:none;z-index:1000;background:#1f497d;}
#nav li li{height:auto;width:100%;padding:0;display:block;border:none;background:none;}#nav li li a{width:auto;height:auto;display:block;padding:5px 10px 5px 18px;line-height:normal;font-size:13px;text-transform:none;}
#nav a{height:100%;padding:0 5px;display:block;line-height:59px;text-transform:uppercase;text-decoration:none;}
#container{text-align:left;}
#main{width:980px;min-height:500px;margin:0 auto;}
#content{width:620px;float:left;font-size:1.4em;line-height:1.5714285714285714;}#content p,#content ul,#content ol{margin-top:0;margin-bottom:1em;}
#content img{max-width:100%;}
#top{width:980px;height:92px;margin:0 auto;position:relative;}#top .contact{width:189px;height:39px;float:right;margin:29px 8px 0 0;text-align:center;}
#top #brand{width:100px;height:73px;display:block;text-indent:-9000em;overflow:hidden;position:absolute;left:0;top:0;background:url(../images/logo.png) no-repeat 0 0;}
#mid{width:980px;margin:0 auto;}#mid div{width:980px;height:100%;display:none;}
#mid img{max-width:100%;}
#mid .cycle-pager{min-width:10px;position:absolute;left:100px;top:190px;z-index:10000;}#mid .cycle-pager span{width:12px;height:12px;margin:0 5px 0 0;float:left;background:url(../images/sprite_messaging_paging.png) no-repeat -20px 0;text-indent:-9000em;}#mid .cycle-pager span.cycle-pager-active,#mid .cycle-pager span:hover{background-position:0 0;}
#sidebar{width:254px;float:right;font-size:1.4em;}#sidebar ul{padding-left:20px;}#sidebar ul li{margin-bottom:3px;}
#sidebar ul a{text-decoration:none;display:block;}#sidebar ul a:hover{text-decoration:underline;}
#sidebar h2{font-size:1.2142857142857142em;font-weight:normal;color:#666;text-transform:uppercase;}
#sidebar form div{margin:0 0 1em;}
#sidebar form input[type="text"],#sidebar form textarea{width:178px;height:18px;padding:0 8px;border:1px solid #cccccc;font:italic 14px Arial,Helvetica,sans-serif;line-height:18px;color:#999999;background:#ffffff url(../images/bg_input.png) repeat-x 0 0;resize:none;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;behavior:url(PIE.htc);}
#sidebar form textarea{height:157px;}
#sidebar form .wpcf7-submit{width:95px;height:23px;background:url(../images/btn_submit.png) no-repeat 0 0;text-indent:-9000em;overflow:hidden;border:none;}
.gform_wrapper{margin:0;padding:0;max-width:none;}
#gform_0{margin:10px 0 40px;padding:0;}#gform_0 .toggle label{display:none;}
#gform_0 ul{min-height:10px;margin:0;padding:0;background:none;}
#gform_0 li{margin:0 0 10px;padding:0;background:none;list-style-type:none;}#gform_0 li li{margin:0;}
#gform_0 .gfield_checkbox label{line-height:2.3;}
#gform_0 input[type="text"],#gform_0 textarea{width:178px;height:18px;padding:0 8px;border:1px solid #cccccc;font:italic 14px Arial,Helvetica,sans-serif;line-height:18px;color:#999999;background:#ffffff url(../images/bg_input.png) repeat-x 0 0;resize:none;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;behavior:url(PIE.htc);}
#gform_0 textarea{height:157px;}
#gform_0 input[type="submit"],#gform_0 input[type="image"]{border:none;width:auto;height:auto;float:right;}
#gform_0 .gform_footer{margin:0;padding:0;}
#footer{width:100%;padding:0;color:#ffffff;font-size:1.4em;}#footer .wrapper{width:980px;margin:0 auto;text-align:left;}
#footer a{color:#ffffff;}
#footer ul{width:100%;height:29px;margin:0;padding:0 0 10px;float:left;clear:both;list-style-type:none;text-align:center;font-size:1.1428571428571428em;font-weight:bold;}#footer ul li{background:none;display:inline;padding:0 3px 0 5px;border-left:1px solid #ffffff;}#footer ul li:first-child{border:none;}
#footer ul ul{display:none;}
#footer ul a{text-decoration:none;color:#ffffff;}
